$light-color: #f6f6f6;
$light-color-2: #f2f2f2;

$divide-color: #e0e0e0;
$border-color: #e0e0e0;
$border-color-2: #dcdee2;

$white: #fff;
$white-1: #fafafa;

$black: #000000;
$grey: #dfdfdf;
$grey-2: #616161;
$grey-3: #555555;
$grey-4: #454545;

$color-info: #8CBCFF;
$color-success: #62da66;
$color-warn: #FFD29A;
$color-error: #EB796E;
$color-disabled: #dfdfdf;
$color-ghost: transparent;

$secondary-text-color: #909090;

$text-color: #2c3e50;
$text-color-1: #434343;
$text-color-2: #999;
$text-color-3: #ccc;

$text-color-grey: $grey-2;

:root {
  --color-info: rgb(102, 166, 255);
  --color-success: #62da66;
  --color-warn: #FFD29A;
  --color-error: #EB796E;
  --color-disabled: #dfdfdf;
  --color-ghost: transparent;

  --color-info--500: rgba(102, 166, 255, 0.62);
  --color-success--500: #62da669E;
  --color-warn--500: #FFD29A9E;
  --color-error--500: #EB796E9E;
  --color-disabled--500: #dfdfdf9E;
  --color-ghost: transparent;

  --color-info--disabled: #8CBCFF9E;
  --color-success--disabled: #62da669E;
  --color-warn--disabled: #FFD29A9E;
  --color-error--disabled: #EB796E9E;
  --color-disabled--disabled: #dfdfdf9E;
}

.color-info { color: var(--color-info); }
.color-success { color: var(--color-success); }
.color-warn { color: var(--color-warn); }
.color-error { color: var(--color-error); }
.color-disabled { color: var(--color-disabled); }
.color-ghost { color: var(--color-ghost); }

.color-info--disabled { color: var(--color-info--500); }
.color-success--disabled { color: var(--color-success--500); }
.color-warn--disabled { color: var(--color-warn--500); }
.color-error--disabled { color: var(--color-error--500); }
.color-disabled--disabled { color: var(--color-disabled--500); }
.color-ghost { color: var(--color-ghost); }
